[data-view]
  .loading
    opacity: 0.5

.ZEEGA-tab
    background: red
    display: inline-block
    position: absolute
    z-index: 1
    top: 0
    padding: 5px
    margin-left: 20px
    width: 30px
    height: 35px
    float: left
    margin-right: 20px
    border-radius: 0 0 2px 2px
    cursor: pointer

.cover
    background: url(/images/home.jpg) no-repeat
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    position: relative
    width: 100%
    height: 400px
    .headline
        position:absolute
        bottom: 0
        width: 100%
        text-align: right

    h2
        margin: 25px;
        color: white
        font-size: 1.7em
        font-family: Helvetica, sans-serif
        text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5)

.underlay-wrapper
    color: #333
    font-size: 1.5em
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    .scroller
        display: none;
    .underlay
        height: 100%
        position: relative
        background: #333
        color: white
        ul
            padding: 0
            margin: 0
            list-style: none
            li
                padding: 10px
        .ZEEGA-home
            cursor:pointer



        