[data-view]
  .loading
    opacity: 0.5
.message-overlay
    display:none
    top:0
    left:0
    position: fixed
    background-color: rgba(0,0,0,0.8)
    width: 100%
    height: 100%
    z-index: 100
    color: white
    
    .close
      position:absolute
      top: 20px
      right: 20px
      font-size: 2em

    .message
        padding:50px
        text-align: center
        
.ZEEGA-tab
    background: red
    background-image: url(images/zeega-logo-white-30.png);
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    display: inline-block
    position: absolute
    z-index: 2
    top: 0
    padding: 5px
    margin-left: 20px
    width: 30px
    height: 35px
    float: left
    margin-right: 20px
    border-radius: 0 0 2px 2px
    cursor: pointer

    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    -webkit-transition: opacity .5s
    -moz-transition: opacity .5s
    -ms-transition: opacity .5s
    -o-transition: opacity .5s
    transition: opacity .5s
    opacity: .99
    &.nav-open
        opacity: 0

.cover
    background: url(images/home.jpg) no-repeat center
    -webkit-background-size: cover
    -moz-background-size: cover
    background-size: cover
    position: relative
    width: 100%
    height: 300px
    &.profile
        background: url(images/default_profile_cover.gif) no-repeat
        -webkit-background-size: cover
        -moz-background-size: cover
        background-size: cover
    .headline
        position:absolute
        bottom: 0
        width: 100%
        text-align: right
        &.home
            bottom: 20px

    h2
        margin: 0px 25px
        color: white
        font-size: 1.7em
        font-family: Helvetica, sans-serif
        text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.5)
    .join
      display: none;
      margin-right: 25px;
      margin-top: -3px;
      float: right;
      a
        background-color: #F00
        color: white
        padding 0 5px;

.underlay-wrapper
    color: #333
    font-size: 1.5em
    position: fixed
    top: 0
    left: 0
    height: 100%
    width: 100%
    .scroller
        display: none;
    .underlay
        height: 100%
        position: relative
        background: #333
        color: white
        ul
            padding: 0
            margin: 0
            list-style: none
            li
                font-size: 0.75em
                padding: 10px
                a
                    text-decoration: none
                    color: white




        