[data-view]
  .footer
    margin-left: auto
    margin-right: auto
    width: 90%
    padding-bottom: 50px

    a
      background-color: black
      color: white
      padding 0 5px
    .tags
      h1
        line-height: 1.4em
    .join
      display:none;
      a
        background-color: #F00