@import 'base_view'
@import 'zeegas_index_view'

body
  margin:0

#content
    background: url(images/graphpaper.png)
    position: absolute
    width: 100%
    z-index: 1

    &.nav-open
      height: 100%
      overflow:hidden