[data-view]
  .profile-token-large
    position:absolute
    background-position: center
    background-repeat: no-repeat
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    left: 50px
    top: 100px
    border-radius: 75px
    height: 150px
    width: 150px
    overflow: hidden
    border: 3px solid orangered

  .bio
    color: white
    text-shadow: 2px 2px 12px rgba(0,0,0,0.5)
    margin: 10px 25px
    font-size: .8em