[data-view]
  .profile-token-large
    position:absolute;
    left: 50px;
    top: 100px;
    border-radius: 75px
    height: 150px
    width: 150px
    overflow: hidden
    border: 3px solid orangered
    img
        width: 100%