<div class ="footer">
    <span class="tags">
        <h1>Explore more Zeegas...  <br>
            <a href="/tag/bestof" >#bestof</a>
            <a href="/tag/stories" >#stories</a>
            <a href="/tag/funny" >#funny</a>
            <a href="/tag/music" >#music</a>
        </h1>
    </span>
    <span class ="join">
        <h1>
            <a href="http://zeega.com/m/register">Join Zeega</a>
        </h1>
    </span>   
</div>

