<div class ="footer">
    <span class="tags">
        <h1>Explore more Zeegas...  <br>
            <a href="/tags/bestof" >#bestof</a>
            <a href="/tags/stories" >#stories</a>
            <a href="/tags/funny" >#funny</a>
            <a href="/tags/music" >#music</a>
        </h1>
    </span>
    <span class ="join">
        <h1>
            <a href="/register">Join Zeega</a>
        </h1>
    </span>   
</div>

